*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html, body{
    height: 100%;
} */
body{
    font-family: 'Poppins', sans-serif;
}

input[type=text]{
    padding:20px;
    box-shadow: 0 0 15px 4px;
    rgba(0,0,0,0.06);
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

}

.container{
    font-weight: 400;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.buttons{
    
    display: flex;
    flex-direction:column;
}
.btn{
    
    text-decoration: none;
    /* position: relative; */
    padding: 20px 50px;
    font-size:1.25rem;
    background-color: #e6b9b9;
    margin: 5px;
    font-family: 'Lobster', cursive;
    
}
/*style our bottons*/
.btn-1{
    /* overflow: hidden; */
    color: rgb(13, 21, 139);
    border-radius: 30px;
    box-shadow:0 0 0 0 rgba(182, 130, 249, 0.954), 0 0 0 0 rgba(105, 203, 236, 0.941);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-1::after{
    
    content:"";
    width: 400px;
    height: 400px;
    /* position: absolute; */
    top: 40px;
    left: 400px;
    background-color:#d82d27;
    background-image: linear-gradient(225deg, #78d4de 0%, #de7c78  60%, #b84341 100% );
    z-index: -1;
    transition: transform 0.5s ease;
}
.btn-1:hover{
    transition: translate(0, -5px);
    box-shadow:10px -10px 25px 0 rgba(181, 127, 251, 0.954), -10px 10px 25px 0 rgba(105, 203, 236, 0.941);
}

.btn-1:hover:hover::after{
    transform: rotate(150deg);

}
.move{
    text-align: center;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #d8a5ad;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #4b4646ae;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f5ecec;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #d8a5ad;
    color: white;
}

.movePic{
    position: absolute;
    right: 30px;
    bottom: 0px;
}



